<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="Corpo_Backgrounds">
        <h1>Escolha seu Background</h1>
        <div id="Escolhas_BK">
            <button id="Past_BK">←</button>
            <div id="BackgroundsC"></div>
            <button id="Next_BK">→</button>
        </div>
    </div>
</body>
<script src="../static/Js_code/Background.js"></script>
</html>