<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body id="Sobre">
    <div id="Caixa_de_Sobre">
        <h2>JSA Production</h2>
        <h3>Apresentação Reproduction</h3>
        <h1>Versão: 7.7.0</h1>
        <div id="QuantideDiv">
            <h1>Músicas Tocadas: <span id="Quantidade"></span></h1>
            <h1>Quantidade de Músicas: <span id="QuantidadeMusic"></span></h1>
        </div>
        <button id="ButtonRemove">Remover Todas as APIs</button>
        <h6>@2023 by JSA PRoduction</h6>
    </div>
</body>
<script>
    var Tocandas = localStorage.getItem("Tocandas")
    Quantidade.innerHTML = Tocandas + " Vezes"
    fetch("/DadosMusic").then(function (response) {
        response.json().then((data) => {
            var MinhasMusicas = JSON.parse(JSON.stringify(data))
            document.getElementById("QuantidadeMusic").innerHTML = MinhasMusicas.Name_Music.length
        })
    })
    document.getElementById("ButtonRemove").addEventListener("click",function(){
        localStorage.clear()
        location.reload()
    })
</script>

</html>