<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reproduction TK</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script type="module" src="../static/Js_code/script.js"></script>

  </head>

  <body id="Corpinho">
    <!-- Player -->
    <div id="QuebraLinha"></div>
    <div id="Search_DIV">
      <textarea
        id="Search"
        placeholder="Procurar por minhas Músicas"
      ></textarea>
    </div>

    <audio id="ORIGINAL"></audio>

    <!-- Music List -->
    <div id="Musicas"></div>

    <!-- Configuração Sidebar -->
    <div id="Sidebar_Config">
      <div id="Sidebar_Escolha"></div>
      <div id="Add_Config"></div>
    </div>

    <!-- Music Mini -->
    <div id="InfoMini"></div>

    <!-- Player On -->
    <div id="MusicBackgroud"></div>
    <div id="MusicaPrincipal"></div>

    <!-- Editar -->
    <div id="Editar"></div>

  </body>
</html>
